* {
  padding: 0;
  margin: 0;
}

body {
  padding: 2em 18em;
}

h1 {
  padding-top: 1em;
  letter-spacing: 3px;
}

.content-wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2em 0em;
}

.page-container {
  border: 1px solid darkrgb(235, 235, 235);
}

.welcome-page{
  background: linear-gradient(
    to bottom,
    white 0%,
    white 50%,
    rgb(235, 235, 235) 50%,
    rgb(235, 235, 235) 100%
  );

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  margin-top: 2em;
  border: 8px solid white;
}

.p1 {
  text-align: center;
  padding: 0em 12em;
}

.intro-page{
  background: linear-gradient(
    to bottom,
    white 0%,
    white 50%,
    rgb(235, 235, 235) 50%,
    rgb(235, 235, 235) 100%
  );

  display: flex;
  justify-content: center;
}

.intro-left-container, .intro-right-container {
  width: 50%;
}

figure {
  width: 9em;
}
